/* Start Variables */
/* End Variables */
/* Start Global Rules */
body {
  font-family: "Ysabeau Office", sans-serif !important;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* End Global Rules */
/* Start Components */
.btn {
  background-color: #f6c606;
  color: #252636;
  border: 1px solid #252636;
}
.btn:hover {
  background-color: #252636;
  color: #f6c606;
}

.pagination a {
  text-decoration: none;
  background-color: #f6c606;
  color: #252636;
  border-radius: 50rem;
  padding: 0.375rem 0.75rem;
  transition: 0.4s;
  border: 1px solid #252636;
}
.pagination a:hover {
  background-color: #252636;
  color: #f6c606;
}
.pagination .btn {
  cursor: not-allowed;
  opacity: 0.5;
  border: 1px solid #252636;
}
.pagination .btn:hover {
  background-color: #f6c606;
  color: #252636;
}

/* End Components */
/* Start Header */
header {
  background-color: #252636;
  min-width: 72px;
}
header .navbar-brand img {
  max-width: 70px;
}
header .navbar-toggler {
  border-color: white;
  color: white;
}
header .navbar-toggler:focus {
  box-shadow: none;
  border-color: #252636;
}
header .nav-link {
  color: rgba(255, 255, 255, 0.72);
  text-transform: capitalize;
  border-bottom: 3px solid transparent;
  padding: 10px 15px !important;
  font-size: 18px;
}
header .nav-link:hover, header .nav-link.active, header .nav-link:focus {
  color: white !important;
  border-bottom-color: #f6c606;
}
header .search {
  border-left: 2px solid #252636;
}
header .search svg {
  color: #252636;
  cursor: pointer;
}

/* End Header */
/* Start Blogs Section */
.blogs .card {
  transition: 0.4s;
}
.blogs .card:hover {
  transform: translateY(-5px);
}
.blogs .card .card-infos {
  font-size: 13px;
  padding: 20px 17px 0 17px;
}
.blogs .card .card-infos span {
  margin-right: 7px;
}
.blogs .card .card-infos span svg {
  color: #f6c606;
  margin-right: 3px;
}
.blogs .card .card-body p {
  color: #252636;
}
.blogs .card .m-card-footer span svg {
  color: #f6c606;
  margin-right: 5px;
}
.blogs .card .m-card-footer span a {
  text-decoration: none;
  color: #252636;
}
.blogs .card .m-card-footer span a:hover {
  color: #f6c606;
}

/* End Blogs Section */
/* Start Blog Post Section */
.blog-post {
  background-color: #f6f6f8;
}
.blog-post .blog-post-author {
  position: relative;
}
.blog-post .blog-post-author img {
  width: 150px;
  border: 10px solid white;
  top: -30px;
  position: relative;
  border-radius: 50%;
}
.blog-post .blog-post-author span {
  margin-top: -20px;
  display: block;
}
.blog-post .blog-post-data span {
  font-size: 17px;
}
.blog-post .blog-post-data span svg {
  color: #f6c606;
  margin-right: 10px;
}
.blog-post .blog-post-data .post-category a {
  color: #252636;
}
.blog-post .blog-post-data .post-category a:hover {
  color: #f6c606;
}
.blog-post .card {
  border-color: #f6c606 !important;
}
.blog-post .card .card-header {
  color: #f6c606;
  border-color: #f6c606 !important;
  background-color: #252636;
}
.blog-post .card .card-body img {
  border-radius: 45% 75%;
}
.blog-post .card .card-body:not(:last-of-type) {
  border-bottom: 1px solid #f6c606;
}
.blog-post .card .card-body .card-title {
  color: #252636;
}
.blog-post .author {
  background-color: #f6c606;
}
.blog-post .author img {
  max-width: 100% !important;
  border-radius: 45% 75%;
}
.blog-post .author .author-stats svg {
  margin-right: 10px;
}
.blog-post .author .author-stats a {
  color: #252636;
  transition: 0.4s;
}
.blog-post .author .author-stats a:hover {
  color: white;
}

/* End Blog Post Section */
/* Start Comments Section */
.comments .comments-holder .comment {
  border-left: 1px solid #f6c606;
  padding-left: 20px;
  margin-bottom: 30px;
}
.comments .comments-holder .comment > .row img {
  width: 55px;
  border-radius: 50%;
}
.comments .comments-holder .comment > .row h4 a,
.comments .comments-holder .comment > .row p a {
  text-decoration: none;
  color: #252636;
  transition: 0.4s;
}
.comments .comments-holder .comment > .row h4 a:hover,
.comments .comments-holder .comment > .row p a:hover {
  color: #f6c606;
}
.comments .comments-holder .comment > .row .says {
  display: none;
}
.comments .comments-holder .comment .awaiting {
  color: #f6c606;
  font-style: italic;
}
.comments .comments-holder .comment > .reply {
  margin-bottom: 25px;
}
.comments .comments-holder .comment > .comment {
  margin-bottom: 25px;
}
.comments .comments-holder .comment > .comment > .reply {
  margin-bottom: 20px;
}
.comments .comments-holder .comment > .comment > .comment {
  margin-bottom: 20px;
}
.comments .discard {
  font-size: 13px;
  margin-left: 20px;
}
.comments .comment-edit-link,
.comments .reply a,
.comments .discard a {
  background-color: #f6c606;
  color: #252636;
  transition: 0.4s;
  border: 1px solid #252636;
  padding: 5px 10px;
  border-radius: 50rem;
  text-decoration: none;
}
.comments .comment-edit-link:hover,
.comments .reply a:hover,
.comments .discard a:hover {
  background-color: #252636;
  color: #f6c606;
}
.comments .comment-respond input,
.comments .comment-respond textarea {
  border-color: #252636;
}
.comments .comment-respond input:focus,
.comments .comment-respond textarea:focus {
  outline: none;
  box-shadow: none;
}
.comments .comment-respond .form-check-input:checked {
  background-color: #f6c606;
}
.comments .comment-respond .logged-in-as {
  font-style: italic;
}
.comments .comment-respond .logged-in-as a {
  color: #f6c606;
  text-decoration: none;
  transition: 0.4s;
}
.comments .comment-respond .logged-in-as a:hover {
  color: #252636;
  text-decoration: underline;
}

/* End Comments Section */
/* Start Request Section */
.request h1 {
  text-decoration: underline;
  text-decoration-color: #f6c606;
}
.request h1 svg {
  color: #f6c606;
}

div.wpforms-container-full input[type=date],
div.wpforms-container-full input[type=datetime],
div.wpforms-container-full input[type=datetime-local],
div.wpforms-container-full input[type=email],
div.wpforms-container-full input[type=month],
div.wpforms-container-full input[type=number],
div.wpforms-container-full input[type=password],
div.wpforms-container-full input[type=range],
div.wpforms-container-full input[type=search],
div.wpforms-container-full input[type=tel],
div.wpforms-container-full input[type=text],
div.wpforms-container-full input[type=time],
div.wpforms-container-full input[type=url],
div.wpforms-container-full input[type=week],
div.wpforms-container-full select,
div.wpforms-container-full textarea {
  max-width: 100% !important;
  display: block;
  margin-right: 0 !important;
  border: #252636 1px solid !important;
}
div.wpforms-container-full input[type=date]:focus,
div.wpforms-container-full input[type=datetime]:focus,
div.wpforms-container-full input[type=datetime-local]:focus,
div.wpforms-container-full input[type=email]:focus,
div.wpforms-container-full input[type=month]:focus,
div.wpforms-container-full input[type=number]:focus,
div.wpforms-container-full input[type=password]:focus,
div.wpforms-container-full input[type=range]:focus,
div.wpforms-container-full input[type=search]:focus,
div.wpforms-container-full input[type=tel]:focus,
div.wpforms-container-full input[type=text]:focus,
div.wpforms-container-full input[type=time]:focus,
div.wpforms-container-full input[type=url]:focus,
div.wpforms-container-full input[type=week]:focus,
div.wpforms-container-full select:focus,
div.wpforms-container-full textarea:focus {
  border-color: #252636 1px solid !important;
  box-shadow: none !important;
}

div.wpforms-container-full select > option:not(.placeholder):checked,
div.wpforms-container-full select > option:hover {
  background-color: #f6c606 !important;
}

div.wpforms-container-full input[type=submit]:not(:hover):not(:active),
div.wpforms-container-full button[type=submit]:not(:hover):not(:active),
div.wpforms-container-full .wpforms-page-button:not(:hover):not(:active) {
  background-color: #f6c606 !important;
  color: #252636 !important;
  transition: 0.4s !important;
  border: 1px solid #252636 !important;
  padding: 5px 10px !important;
  border-radius: 50rem !important;
  text-decoration: none !important;
}

div.wpforms-container-full input[type=submit]:hover,
div.wpforms-container-full input[type=submit]:active,
div.wpforms-container-full button[type=submit]:hover,
div.wpforms-container-full button[type=submit]:active,
div.wpforms-container-full .wpforms-page-button:hover,
div.wpforms-container-full .wpforms-page-button:active {
  background: none !important;
  background-color: #252636 !important;
  color: #f6c606 !important;
  border: 1px solid #252636 !important;
}

div.wpforms-container-full input[type=submit],
div.wpforms-container-full button[type=submit],
div.wpforms-container-full .wpforms-page-button {
  background-color: #f6c606 !important;
  padding: 5px 10px !important;
}

div.wpforms-container-full input[type=submit]:focus:after,
div.wpforms-container-full button[type=submit]:focus:after,
div.wpforms-container-full .wpforms-page-button:focus:after {
  border-color: transparent !important;
}

.wpforms-confirmation-scroll {
  background-color: #f6c606 !important;
}

/* End Request Section *//*# sourceMappingURL=main.css.map */